*{
    padding: 0;
    margin: 0;
    /* background-color: rgb(176, 105, 17); */
    font-family: 'Poppins',sans-serif;
    box-sizing: border-box;
}

body{
    background-color: hsl(32, 77%, 42%);
}

.app{
    background: #f2b50e40;
    width: 90%;
    max-width: 600px;
    margin:100px auto 0;
    border-radius: 40px;
    padding: 30px;

}

.app h1{
    font-size: 25px;
    color: rgb(18, 30, 93);
    font-weight: 600;
    border-bottom: 1px solid #e81010;
    padding-bottom: 30px;

}

.quiz{
    padding: 20px 0;
}

.quiz h2{
    font-size:18px;
    color: #601592;
    font-weight: 600;
}

.btn{
    background: #959790;
    color: #222;
    font-weight: 500;
    width: 100%;
    border: 1px solid #1e1b4f;
    padding: 10px;
    margin: 10px 0 ;
    text-align: left;
    border-radius: 4px;
    cursor: pointer;
    transition: all 00.3;
}

.btn:hover:not(:disabled){
    background: #001e4d;
    color: #fff;

}

.btn:disabled{
    cursor: no-drop;
}

#next-btn{
  background: #092d63;
  color: #fff;
  font-weight: 500;
  width: 150px;
  border: 0;
  padding: 10px;
  margin: 20px auto 0;
  border-radius: 4px;
  cursor: pointer;
  display: block;
}

#next-btn:hover {
    color: pink;
    background-color: rgb(129, 39, 115);
}

.correct{
    background: green;
}

.incorrect{
    background: #bb3e3e;
}